@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* CREACIÓN DE LAS VARIABLES */
:root{
    --Color-Fondo: #181818;
    --Color-Botones: #e67e22;
    --Color-Textos: #f0e6d6;
    --Color-Detalles: #5f493d;
    --Fuente-H1: 'Pacifico', sans-serif;
    --Fuente-H2-H3-Botones: 'Roboto', sans-serif;
    --Fuente-Parrafos: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,p,a, label, button{
    color: var(--Color-Textos);
}
h1{
    font-family: var(--Fuente-H1);
    font-weight: 200;
}
h2, h3, h4{
    font-family: var(--Fuente-H2-H3-Botones);
    text-transform: uppercase;
}
p{
    font-family: var(--Fuente-Parrafos);
    letter-spacing: 4.5px;
}
body{
    background-color: var(--Color-Fondo);
    text-align: center;
    overflow-x: hidden;
}
.about-us-section h2, .drinks-section h2, .group-team-section h2, .food-section h2, .library-section h2, .pool-section h2, .other-zones-section h2, .location-section h2, .reviews-section h2, footer h2{
    font-size: 40px;
}
header, .about-us-section, .drinks-section, .group-team-section, .cafeteria-section, .food-section, .imageLibrary, .pool-section, .other-zones-section, .location-section, .reviews-section{
    border-bottom: solid #fff 1px;
}
/* HEADER */
header{
    padding: 1rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../IMG/Header\ bg.jpg);
    background-position: center;
    background-size: cover;
    gap: 80px;
    height: 100vh;
}
header h1{
    font-size: 120px;
}
header p{
    font-size: 48px;
}
nav{
    position: fixed;
    top: 0px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background: rgba(24, 24, 24, 0.50);
    z-index: 2;
}
nav a svg{
    transition: all ease-in-out .4s;
}
nav a svg:hover{
    width: 150px;
}
#cafeteriaLogo{
    padding-bottom: 10px;
}
.contact-button{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 263px;
    height: 70px;
    border-radius: 25px;
    background-color: var(--Color-Botones);
    box-shadow: 0px 3.464px 3.464px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--Fuente-Parrafos);
    letter-spacing: 2.5px;
    transition: all ease-in-out .4s;
}
.contact-button:hover{
    width: 273px;
    height: 75px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), var(--Buttons, #E67E22);
}
/* ABOUT US */
.about-us-section{
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem 7rem 0rem;
    background-image: url(../IMG/About\ us\ bg.jpg);
    background-size: cover;
}
.about-us-section article{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 40px;
    justify-content: space-around;
    width: 100%;
}
.info-container{
    max-width: 440px;
}
.info-container, .info-container2{
    font-size: 25px;
}
.info-container2 p{
    max-width: 1074px;
}
/* GROUP TEAM */
.group-team-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem;
    position: relative;
    overflow: hidden;
}
.group-team-section h2{
    margin-bottom: 20px;
}
.group-team-section span{
    font-weight: 800;
    cursor: pointer;
}
.group-team-section svg{
    position: absolute;
    z-index: 2;
    top: 350px;
    cursor: pointer;
}
#arrowLeft{
    left: 10px;
}
#arrowRight{
    right: 10px;
}
.carousel{
    display: flex;
    width: 300%;
    transition: all ease-in-out .4s;
}
.members{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 33px;
    padding: 60px 0px;
    flex-wrap: wrap;
}
.card{
    border-radius: 6px;
    width: 249px;
    height: 320px;
    background-color: var(--Color-Detalles);
    text-align: start;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
}
.card img{
    width: fit-content;
    position: absolute;
    top: 0px;
    left: 0px;
}
.members p{
    margin-top: 10px;
    bottom: 25px;
}
.members h3, .members p{
    padding: 0px 10px;
    text-transform: capitalize;
    position: absolute;
}
.members h3{
    padding:7px 8px;
    font-weight: 500;
    font-size: 20px;
    bottom: 40px;
}
.texts-members{
    max-height: fit-content;
}
/* CAFETERIA SECTION */
.cafeteria-section{
    background-image: url(../IMG/cafeteria\ section\ bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 631px;
    position: relative;
    overflow: hidden;
}
.coffeContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .6s;
}
.coffeContainer.visible{
    opacity: 1;
    visibility: visible;
}
.coffeContainer img{
    width: 392px;
    height: 421px;
}
.coffeContainer p{
    font-size: 20px;
    letter-spacing: 4.5px;
    width: 500px;
}
/* DRINKS SECTION */
.drinks-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 2rem 10rem;
}
.containerDrinks{
    display: flex;
    flex-wrap: wrap;
    gap: 145px;
    justify-content: center;
}
.cardDrink{
    width: 303px;
    height: 322px;
    font-size: 28px;
    position: relative;
    border-radius: 10%;
}
.cardDrink, .cardDrink h4, .cardDrink img, .cardDrink p{
    transition: all ease-in-out .4s;
}
.cardDrink img{
    border-radius: 25px;
}
.cardDrink span{
    font-weight: bolder;
}
.cardDrink p{
    position: absolute;
    top: 66px;
    opacity: 0;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
}
#textDrink1, #textDrink2, #textDrink3, #textDrink4, #textDrink5, #textDrink6{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 270px;
    left: 24px;
}
#textDrink1{
    background: linear-gradient(90deg, #FDFDFD 0%, #EBA838 75%);
    background-clip: text;
}
#textDrink2{
    background: linear-gradient(90deg, #525D2A 46.4%, #A20000 99.98%);
    background-clip: text;
}
#textDrink3{
    background: linear-gradient(90deg, #FA9D36 29.95%, #467B33 68.02%);
    background-clip: text;
}
#textDrink4{
    background: linear-gradient(90deg, #BC2308 0%, #DDDDDF 100%);
    background-clip: text;
}
#textDrink5{
    background: linear-gradient(90deg, #D0CC74 8%, #D0CC74 44.47%, #4D5233 77.82%);
    background-clip: text;
}
#textDrink6{
    background: linear-gradient(90deg, #B69129 25%, #16262C 100%);
    background-clip: text;
}
/* Ahora para los efectos hover de las cards */
.cardDrink:hover h4{
    opacity: 0;
}
.cardDrink:hover p{
    opacity: 1;
    /* BAJAR EL FONT WEIGHT O AJUSTAR COMO SE VE EN FIGMA Y LA POSICIÓN MAS ABAJO EN EL CENTRO ****************** */
}
.cardDrink:hover img{
    opacity: .5;
}
/* FOOD SECTION */
.food-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}
.food-container{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--Color-Botones);
    padding: 24px 88px;
    gap: 75px;
    border-radius: 150px;
    flex-wrap: wrap;
}
.food-container p{
    max-width: 320px;
}
.foodCard img{
    width: 130px;
    height: 180px;
    border-radius: 100px;
}
/* LIBRARY SECTION */
.imageLibrary{
    background-image: url(../IMG/library\ image\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 297px;
    border-top: solid #fff 1px;
}
.library-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    padding: 2rem 0rem;
}
#parrafinBiblioteca{
    max-width: 745px;
}
.zones-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 51px;
    justify-content: center;
}
.card-zones{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}
.card-zones img{
    width: 100%;
}
.texts-zone h3{
    padding-left: 10px;
}
.texts-zone{
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 4px;
    text-align: start;
    align-items: start;
}
.texts-books{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: start;
}
.texts-books h3{
    font-size: 30px;
}
.texts-books a, .ask-for-book a, #btnContact{
    display: flex;
    width: 160px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--Color-Botones);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--Fuente-H2-H3-Botones);
    transition: all ease-in-out .4s;
}
.texts-books a:hover, .ask-for-book a:hover, #btnContact:hover{
    padding: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), var(--Buttons, #E67E22);
}
.books-section{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.books-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
}
.card-book{
    display: flex;
    width: 391px;
    height: 132px;
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 16px;
}
.image-book img{
    border-radius: 10px;
}
.texts-book{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.texts-book h3{
    text-transform: capitalize;
}
.texts-book p{
    padding: 0px;
}
.texts-book button{
    display: flex;
    padding: 2px 4px;
    justify-content: center;
    width: 137px;
    color: var(--Color-Textos);
    border-radius: 2px;
    border: none;
    background: rgba(217, 217, 217, 0.50);
}
#button2{
    padding: 2px 34px;
    width: 54px;
}
.ask-for-book{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.input-container{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
    color: var(--Color-Textos);
    font-family: var(--Fuente-H2-H3-Botones);
    font-size: 22px;
    font-weight: 500;
}
.input-container input{
    border: none;
    padding: 8px;
    border-radius: 6px;
    width: 100%;
}
/* POOL SECTION */
.pool-section{
    background-image: url(../IMG/pool\ bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 37px 0px;
    height: fit-content;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.texts-pool{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 38px;
    flex-wrap: wrap;
}
.balls-pool{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-Pool{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-Pool img{
    cursor: pointer;
}
/* Other zones section */
.other-zones-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 39px;
}
.post{
    width: fit-content;
    height: 400px;
    border-radius: 7px;
    background-color: #282828;
}
.image-container-post img{
    max-width: 652px;
    height: 325px;
    border-radius: 7px;
}
.text-container-post{
    text-align: start;
    font-size: 20px;
    font-weight: 300;
}
/* LOCATION SECTION */
.location-section{
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0px;
}
.location-section iframe{
    height: 700px !important;
    width: 952px !important;
}
/* REVIEWS-SECTION */
.reviews-section{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    background-image: url(../IMG/reviews-section\ bg.png);
    background-position: center;
    background-size: cover;
    height: fit-content;
}
.container-users{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
}
.card-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 12px;
}
.card-user img{
    width: 140px;
    border-radius: 100px;
}
/* Footer */
footer{
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 30px;
    height: 700px;
    position: relative;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
label{
    font-family: var(--Fuente-H2-H3-Botones);
    text-align: start !important;
    width: 100%;
}
input{
    border-radius: 6px;
    height: 36px;
    border: none;
    width: 100%;
}
.formUsers{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 12px;
}
footer svg{
    position: absolute;
}
#figure1, #figure3{
    left: 40px;
}
#figure2, #figure4{
    right: 40px;
}
#figure1, #figure2{
    top: 40px;
}
#figure3, #figure4{
    bottom: 40px;
}
.finalFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 59px;
    flex-wrap: wrap;
}
.finalFooter a img{
    width: 50px;
}
#principalLogo{
    width: initial;
}
#btnContact{
    font-family: var(--Fuente-H2-H3-Botones);
    font-size: 15px;
    border: none;
}
/* MEDIA QUERRYS */
@media screen and (max-width: 1024px) {
    header h1{
        font-size: 100px;
    }
    header p{
        font-size: 40px;
    }
    .contact-button{
        transform: scale(.8);
    }
    .info-container, .info-container2{
        font-size: 20px;
    }
    .imageLibrary{
        height: 200px;
    }
    .location-section iframe{
        height: 500px !important;
        width: 802px !important;
    }
    .drinks-section{
        padding: 2rem 0rem;
    }
    .food-container{
        transform: scale(.8);
    }
}
@media screen and (max-width: 768px){
    .coffeContainer{
        gap: 0px;
    }
    .coffeContainer img{
        width: 372px;
        height: 391px;
    }
    .cardDrink{
        transform: scale(.8);
    }
    .about-us-section h2, .drinks-section h2, .group-team-section h2, .food-section h2, .library-section h2, .pool-section h2, .other-zones-section h2, .location-section h2, .reviews-section h2, footer h2{
        font-size: 36px;
    }
    .food-container{
        padding: 17px 70px;
    }
    .members{
        transform: scale(.9);
    }
    .group-team-section svg{
        top: 515px;
    }
    #arrowLeft{
        left: 20px;
    }
    #arrowRight{
        right: 20px;
    }
    .imageLibrary{
        height: 180px;
    }
    .post{
        transform: scale(.8);
    }
    .location-section iframe{
        height: 400px !important;
        width: 525px !important;
    }
    .container-users{
        transform: scale(.9);
    }
    .finalFooter{
        gap: 100px;
    }
    .books-section h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 425px) {
    .about-us-section h2, .drinks-section h2, .group-team-section h2, .food-section h2, .library-section h2, .pool-section h2, .other-zones-section h2, .location-section h2, .reviews-section h2, footer h2{
        font-size: 25px;
    }
    header h1{
        font-size: 75px;
    }
    header p{
        font-size: 20px;
    }
    header{
        gap: 50px;
    }
    nav a {
        transform: scale(.8);
    }
    .group-team-section svg{
        top: 785px;
        transform: scale(.9);
    }
    .info-container, .info-container2{
        font-size: 13px;
    }
    .members svg{
        display: none;
    }
    .coffeContainer img{
        width: 322px !important;
        height: 341px !important;
    }
    .coffeContainer p{
        font-size: 15px;
    }
    .coofe
    .food-container{
        flex-wrap: wrap;
        padding: 30px 0px;
        width: 380px;
    }
    .food-container p{
        max-width: 280px;
        padding-bottom: 10px;
    }
    .food-container{
        transform: scale(.8);
        gap: 0px;
    }
    .imageLibrary{
        height: 95px;
    }
    .books-container{
        transform: scale(.9);
    }
    .card-Pool{
        transform: scale(.8);
    }
    .books-section{
        gap: 0px;
    }
    .ask-for-book label{
        font-size: 15px;
    }
    .texts-books a, .ask-for-book a, #btnContact{
        transform: scale(.9);
    }
    .other-zones-section{
        gap: 0px;
    }
    .post{
        transform: scale(.7);
    }
    .location-section iframe{
        height: 250px !important;
        width: 300px !important;
    }
    .reviews-section{
        gap: 0px;
    }
    footer svg{
        width: 50px;
    }
    .finalFooter{
        padding: 0px 40px;
    }
    .card-zones{
        transform: scale(.8);
    }
}
@media screen and (max-width: 375px){
    .containerDrinks{
        gap: 0px;
    }
    .cardDrink{
        transform: scale(.7);
    }
    nav a {
        transform: scale(.6);
    }
    .post{
        transform: scale(.5);
    }
    .about-us-section h2, .drinks-section h2, .group-team-section h2, .food-section h2, .library-section h2, .pool-section h2, .other-zones-section h2, .location-section h2, .reviews-section h2, footer h2{
        font-size: 20px;
    }
    .texts-pool p{
        font-size: 14px;
    }
    .card-Pool{
        transform: scale(.6);
    }
    .food-container{
        transform: scale(.7 h);
    }
    .books-container{
        transform: scale(.7);
    }
    .card{
        transform: scale(.9);
    }
    .info-container, .info-container2{
        font-size: 10px;
    }
    .cardDrink{
        transform: scale(.6);
    }
    .container-users{
        transform: scale(.8);
    }
    .coffeContainer img{
        width: 232px !important;
        height: 261px !important;
    }
    .coffeContainer p{
        font-size: 13px;
    }
    nav{
        gap: 0px;
    }
    .location-section iframe{
        height: 200px !important;
        width: 275px !important;
    }
    .formUsers{
        width: 70%;
    }
    footer svg{
        width: 40px;
    }
    .books-section{
        width: 100%;
    }
}